*{
    background-color: #3B6978;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    align-items: center;
    text-align: center;
    color: #2F2F2F;
    font-family: Muli, sans-serif;
    margin-top: 20vh;
}
a {
    padding: 1rem 1rem;
    background-color: #84A9AC;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-family: Muli, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #E7DFD5;
    text-decoration: none;
    margin-top: 3rem;
}
a:hover {
    background-color: #3B6978;
}